<div class="cover text-center" style="background: url('https://cdn.shopify.com/s/files/1/0710/6771/files/829d24cf.jpeg?777');">

    <div class="cover-inner cover-action text-center" style="">
      <h1>Fall is near</h1>
      <a href="http://supply-stuff.myshopify.com/collections/fall-spring-15">Browse</a>
    </div>

</div>

{% comment %}

  This page represents the /collections and /products pages.
  It is an optional, but highly recommended, template for your theme.

  More info:
    - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

{% endcomment %}

{% include 'breadcrumb' %}

{% comment %}
  Loop through each collection, except 'frontpage'
{% endcomment %}
{% for collection in collections %}

  {% unless collection.handle == 'frontpage' %}

    {% include 'collection-list-item' %}

    {% unless forloop.last %}<hr>{% endunless %}

  {% endunless %}

{% endfor %}